
<!-- <div class="title-wrapper">
    <h1>Particles directive</h1>
    <h2>Total particles : {{number}}</h2>
    <div class="control">
      <div class="control-item" (click)="add()">Add (20)</div>
      <div class="control-item" (click)="remove()">Remove (20)</div>
    </div>
  </div> -->
  <!-- <nav class="transparent">
    <div class="nav-wrapper container">
        <ul class="right hide-on-med-and-down">
            <li><a href="#about">About</a></li>
            <li><a href="https://www.codeproject.com/Articles/Pero-Matic#Article" rel="nofollow">Articles</a></li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="medicareDesktopNavMenu">
                    Medicare
                    <i class="material-icons right">arrow_drop_down</i>
                </a><ul id="medicareDesktopNavMenu" class="dropdown-content" style="width: 131.047px; position: absolute; top: 0px; left: 150.891px; display: none; opacity: 1;">
                    <li><a href="#snf-pricer">Part A SNF Pricer</a></li>
                    <li><a href="#hospice-pricer">Part A Hospice Pricer</a></li>
                    <li><a href="#fee-for-service">Part B Fee For Service</a></li>
                    <li><a href="#hcpcs-search">HCPCS Search Engine</a></li>
                    <li><a href="#ncci-mue-lookup">NCCI's MUEs for DME</a></li>
                </ul>
                
            </li>
            <li><a href="https://itunes.apple.com/us/app/turing-scanner/id1223182729?ls=1&amp;mt=8" rel="nofollow">Scanner</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <a href="#" data-activates="mobile-menu" class="button-collapse waves-effect waves-light circle">
            <i class="material-icons">menu</i>
        </a>
        <div id="mobile-menu" class="side-nav" style="transform: translateX(-100%);">
            <h5 class="turing"><span>Turing Inc.</span><span class="typed-cursor">|</span></h5>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="https://www.codeproject.com/Articles/Pero-Matic#Article" rel="nofollow">Articles</a></li>
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect">Medicare</a>
                            <div class="collapsible-body transparent">
                                <ul>
                                    <li><a href="#snf-pricer">Part A SNF Pricer</a></li>
                                    <li><a href="#hospice-pricer">Part A Hospice Pricer</a></li>
                                    <li><a href="#fee-for-service">Part B Fee For Service</a></li>
                                    <li><a href="#hcpcs-search">HCPCS Search Engine</a></li>
                                    <li><a href="#ncci-mue-lookup">NCCI's MUEs for DME</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="https://itunes.apple.com/us/app/turing-scanner/id1223182729?ls=1&amp;mt=8" rel="nofollow">Scanner</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<!-- <div class="basic-container">
  <mat-spinner strokeWidth="2"
  [value]="value"></mat-spinner>
  <img src="../../assets/logo.png">
</div> -->

  <div class="particles-wrapper">
     
    <canvas repulse-particles  number={{number}}>
   
    </canvas>
   
  </div>



  <!-- <header>

  </header> -->
  <!-- <nav class="navbar navbar-expand-sm fixed-top navbar-light">
      <div class="container">
        
          <div class="collapse navbar-collapse" id="navbar1">
             
              <ul class="navbar-nav ml-auto" style="color: white;">
                <li>
                  <a class="navbar-brand" style="color: aliceblue;" href="#">About</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                </li>
                <li>
                  <a class="navbar-brand" style="color: aliceblue;" href="#">Blogs</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                </li>
                <li>
                  <a class="navbar-brand" style="color: aliceblue;" href="#">Contact</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                </li>
              </ul>
          </div>
      </div>
  </nav> -->

 
  <!--container-->